# Data
data/raw/
data/processed/

# Results
results/figures/
results/tables/
results/logs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# OS
.DS_Store
Thumbs.db

*.pdf
*.md